<div class="row">
    <div class="col-ms-12">
      <form [formGroup]="form" (ngSubmit)="addform()">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" formControlName="email" id="email" autocomplete="email" required="" #email />
        <span  *ngIf="form.get('email')?.invalid && form.get('email')?.touched "  class="error-message"><p style="color: rgb(246, 203, 203);" >Please Enter Valid Email</p></span>
        <label for="password">Password (at least 6 letters):</label>
        <input type="password" formControlName="password" id="password" autocomplete="current-password" />
        
        <!-- Password Validation Message -->
        <span  *ngIf="form.get('password')?.invalid && form.get('password')?.touched"  class="error-message">
          <p style="color: rgb(246, 203, 203);">Please enter a password that is at least 6 characters long and contains only letters.</p>
        </span>        <div class="row" formArrayName="check" >
            <div *ngFor="let checkbox of check.controls; let i = index" class="col-ms-12">
              <input type="checkbox" [formControlName]="i"  />
              <p *ngIf="i === 0  ">You are logging into the Form for the first time</p>
              <p *ngIf="i === 1 ">You have filled all the details</p>
            </div>
          </div>
  
        <button class="btn btn-primary" name="password" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
  