<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-reactive-f orm></app-reactive-form> -->
<!-- <app-demo-pipe></app-demo-pipe> -->
<!-- <app-counter-output></app-counter-output> -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->
<!-- <app-dyrouting></app-dyrouting> -->
<!-- <app-conditional-comp-5></app-conditional-comp-5> -->
<!-- <app-ng-template-outlet>></app-ng-template-outlet>   -->
<!-- <app-random-color></app-random-color> -->
 <!-- <app-parent></app-parent> -->
  <!-- <app-ng-if-ng-for></app-ng-if-ng-for> -->
   <app-http-client></app-http-client>
