.row {
    margin: 0;
    padding: 0;
}

.col-ms-12 {
    width: 100%;
    padding: 15px;
    
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

