.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
  }
  